.table-area.bill {

    .ant-table-cell {
        text-align: center;
    }

    .ant-table-thead>tr>th {
        text-align: center;
    }

    .span-table {
        display: flex;
        justify-content: center;
    }

}