.sketch-main {
    margin: 1em 3em;
    font-family: Arial, Helvetica, sans-serif;

    .statistical-user {
        display: flex;
        justify-content: space-around;
    }

    .table-area {
        padding: 1em;
        margin-top: 1em;
        background-color: white;

    }
}

@media (max-width: 400px) {
    .sketch-main {
        margin: 1em 0;
        font-family: Arial, Helvetica, sans-serif;

        .statistical-user {
            display: flex;
            justify-content: space-around;
        }

        .table-area {
            padding: 1em;
            margin-top: 1em;
            background-color: white;
        }

        .ant-table-thead {
            tr {
                .ant-table-cell:nth-child(5) {
                    width: 10px;
                }
            }
        }

        .ant-table-thead>tr>th,
        .ant-table-tbody>tr>td,
        .ant-table tfoot>tr>th,
        .ant-table tfoot>tr>td {
            padding: 8px 4px;
        }

        .table-main {
            .table {
                .ant-table-thead {
                    tr {
                        th {
                            font-size: .3em;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                }

                .ant-table-tbody {
                    tr {
                        td {
                            font-size: .3em;
                            text-align: center;
                        }
                    }
                }
            }

            .title-and-search {
                .search-area {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    gap: 1em;
                }
            }

            .ant-space-item {
                img {
                    width: 40px !important;
                }
            }
        }

        .ant-select-selection-search-input {
            font-size: .8em !important;
        }
    }
}