.main-header {
    padding: .5em 3em;
    font-family: Lexend Deca;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    background-color: white;
    height: 3.5em;
    margin-left: 220px;

    .input-header {
        position: relative;
        width: 30vw;

        .input-search {
            border-radius: 12px;
            background: #F5F5F5;
            font-weight: 400;
        }

        .icon-header {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #4E4E4E;
        }

        .input-search:hover {
            border: 1px solid #cf010180 !important;
        }

        .input-search:focus {
            border: 1px solid #cf010180 !important;
            // border-color: #cf010180;
            box-shadow: 0 0 0 1px #cf010180;
            caret-color: #cf010180;
        }
    }

    .icon-group {
        display: flex;
        align-items: center;
        gap: 2em;

        .ant-badge {
            font-size: 1.25em;
            cursor: pointer;
        }

        .user-info-content {
            display: flex;
            gap: .5em;

            .avatar {
                margin-top: 0px;
                margin-left: 11px;
            }


            .name-and-balance {
                font-size: .8em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .name {
                    color: #4E4E4E;
                }

                .balance {
                    color: #858585;
                }
            }

            .drop-down {
                margin-top: 7px;
                margin-left: 9px;
            }
        }
    }
}